@charset "utf-8";

/* CSS Document */

/*
-webkit- (Chrome, Safari, newer versions of Opera, almost all iOS browsers (including Firefox for iOS); basically, any WebKit based browser)
-moz- (Firefox)
-o- (Old, pre-WebKit, versions of Opera)
-ms- (Internet Explorer and Microsoft Edge)

-webkit-
-moz-
-o-
-ms-
*/

/* main */

.features li:child {
	margin-top: 0;
}
/*
.features li:nth-child(1){
	margin-top: 0;
}*/

/* Google Map */

.iframe-rwd {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Copyright information */

#ccImg
{
	width: 88px;
	height: 31px;
}

/* Photo Swipe */

/* Below attributes (in default-skin.css) will be overwrite by main.css
 * , so need the "!important" to keep it performing correctly
 */
.pswp__button--arrow--left,
.pswp__button--arrow--right,
.pswp__button--close,
.pswp__button--share,
.pswp__button--fs,
.pswp__button--zoom
{
	box-shadow: none !important;
	background-color: inherit !important;
}

.pswp__button--close,
.pswp__button--share,
.pswp__button--fs,
.pswp__button--zoom
{
	min-width: inherit;
}

.my-gallery > figure > a
{
	border-bottom: none; /* main.css line 1688 */
}						 /*a border-bottom: dotted 1px;*/
