@charset "utf-8";

/* CSS Document */

/*
<<<<<<< HEAD
-webkit- (Chrome, Safari, newer versions of Opera, almost all iOS browsers (including Firefox for iOS); basically, any WebKit based browser)
-moz- (Firefox)
-o- (Old, pre-WebKit, versions of Opera)
-ms- (Internet Explorer and Microsoft Edge)

-webkit-
-moz-
-o-
-ms-
*/

.features li:child {
				margin-top: 0;
			}
/* Google Map */

.iframe-rwd {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Copyright information */

#crBtn
{
	width: 40%;
	margin-left: calc((100% - 40%) / 2);
}

.copyright
{
	display: none;
}
=======
<section id="intro" class="main">
	<div class="spotlight">
		<div class="content">
			<header class="major">
				<h2>重要資訊</h2>
			</header>
			<ul>
				<li>租金</li>
				<li>地點</li>
				<li>規格</li>
			</ul>
			<p>租金</p>
			<ul class="actions">
				<li><a href="generic.html" class="button">查看更多照片</a></li>
			</ul>
		</div>
		<span class="image"><img src="images/pic01.jpg" alt="" /></span>
	</div>
</section>
*/

#price {
	color: orangered !important;
	font-weight: bold;
}

@media screen and (max-width: 480px) {

	ul li {
	padding: 1em 0 0 0;
	display: block;
	text-align: center;
	width: 100%;
		list-style: none;
}
ul li:first-child {
	padding-top: 0;
}
ul li > * {
	width: 100%;
	margin: 0 !important;
}
ul.actions.small li {
	padding: 0.5em 0 0 0;
}
.spotlight ul {
	display: block;
	list-style: none;
}
.spotlight ul li {
	padding: 1em 0 0 0;
	display: block;
	text-align: center;
	width: 100%;
}


}
.features li:child {
				margin-top: 0;
			}
>>>>>>> a61d791c243e9ffa49284f4f91ba7525d2de201d
