
.icon-fridge:before { content: '\e801'; } /* '' */
.icon-dressing-table:before { content: '\e802'; } /* '' */
.icon-bookcase:before { content: '\e803'; } /* '' */
.icon-stove:before { content: '\e804'; } /* '' */
.icon-wardrobe:before { content: '\e805'; } /* '' */
.icon-air-conditioner:before { content: '\e806'; } /* '' */
.icon-television:before { content: '\e807'; } /* '' */